/* ---------------標題banner---------------- */
.top_banner {
  height: 230px;
  background: url(../image/about_banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -5;
}
/* ---------------------歷史沿革-------------------------- */
.history_block {
  max-width: 1420px;
  margin: 0 auto 100px;
  position: relative;
}
.history_text {
  margin: 60px 20px;
}
.bg_COMPANY {
  top: 180px;
  right: 0;
  position: absolute;
}
/* ---------------------專業團隊-------------------------- */

.team_block {
  max-width: 1520px;
  margin: 100px auto;
  display: flex;
  align-items: center;
  gap: 80px;
}

.team_img {
  width: 60%;
}
.team_text {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 40%;
}
.team_text span {
  display: flex;
}
.team_text span :nth-child(1) {
  color: #106393;
}
.team_text p {
  font-size: 30px;
  margin-bottom: 30px;
}
.team_countent {
  margin-bottom: 30px;
}

.btn {
  width: 165px;
  height: 50px;
  line-height: 34px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #106393;
  font-size: 20px;
  color: #fff;
  /* transition: property duration timing-function delay; */
  transition: background-color 1.5s;
}

.btn:hover {
  background-color: #ffd645;
  color: #000000;
}

/* ---------------------客戶好評-------------------------- */

.customer_block {
  background: linear-gradient(
    106deg,
    rgba(16, 99, 147, 0.8) 14.59%,
    rgba(186, 186, 186, 0.8) 44.28%,
    rgba(16, 99, 147, 0.8) 100.01%
  );
  padding: 5rem 1rem;
}

.customer_countent {
  max-width: 1920px;
  margin: auto;
}
.customer_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customer_text h2 {
  margin-bottom: 3rem;
  color: #ffffff;
}

/* swiper */
.swiper-top {
  position: relative;
  width: 100%;
  margin: auto;
}

.swiper {
  width: calc(70% - 100px);
  margin: auto;
  height: auto;
}

.swiper-slide {
}

.swiper-slide img {
  object-fit: cover;
}

.swiper-pagination.swiper-pagination-1 {
  bottom: -2rem;
}

/* -----------------------合作案例------------------------ */
.case_block {
  max-width: 1920px;
}

.case_carousel {
  max-width: 1240px;
  margin: 0 auto;
}

.carousel_img {
  text-align: center;
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin: 0 auto;
}


@media only screen and (max-width: 1200px) {
  .swiper {
    width: calc(90% - 100px);
    margin: auto;
    height: auto;
}
}
@media only screen and (max-width: 767px) {

/* ---------------------團隊介紹-------------------------- */
.team_img {
    width: 100%;
  }
  .team_block {
    flex-direction: column;
    gap: 30px;
  }
  .team_text {
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  /* ------------banner-------------- */
  .top_banner {
    height: 180px;
  }
/* ---------------------客戶好評-------------------------- */

.title_black_white h1{
  font-size: 22px;
}

.swiper {
  width: calc(100% - 0px);
  margin: auto;
  height: auto;
}

/* ---------------------合作案例-------------------------- */

.carousel_img {
  gap: 10px;

}
}
