/* 輪播 */
.carousel {
  margin-bottom: 100px;
}
.carousel-inner {
  width: 90%;
  margin: 0 auto;
}

/* --------服務項目---------- */

/* ABOUT */
.bg_ABOUT {
  position: absolute;
  left: 0;
}

/* 文字 */
.title_blue_black {
  justify-content: center;
}

.service_text h5 {
  text-align: center;
  width: 50vw;
}

/* 圖 */
.service_icon {
  margin: 0 auto;
}

.service_icon ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: end;
  width: 1063px;
  margin: 60px auto 100px;
  gap: 80px;
}

.service_icon li {
  text-align: center;
}

.service_icon img {
  margin-bottom: 10px;
  width: 30%;
  height: auto;
}

.service_icon li {
  margin-bottom: 20px; /* 設定間距 */
  transition: transform 0.3s ease; /* 設定變換效果，0.3秒內完成，使用ease函數平滑變換 */
}

.service_icon li:hover {
  transform: scale(1.3); /* 放大 */
}

.service_icon li a {
  display: block;
  text-decoration: none;
  text-align: center;
}

.service_icon li a:hover {
  color: #106393;
}

/* ----------核心價值---------- */

.core_value_block {
  background: linear-gradient(
    5deg,
    #106393 43.2%,
    rgba(16, 99, 147, 0.63) 82.22%
  );
  padding: 5rem 1rem;
    margin-bottom: 100px;
}

.core_value_text h2 {
  margin-bottom: 3rem;
  color: #ffffff;
}
.core_value_content ul {
  display: flex;
  gap: 50px;
  align-items: flex-start;
  color: #ffffff;
}

.core_value_content li {
  text-align: center;
  width: 30%;
}
.core_value_content li h5 {
  margin-bottom: 15px;
}

/* ----------方策特色img---------- */

.feature_img ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  max-width: 1330px;
  margin: 0 auto 100px;
  color: #fff;
}
.feature_img img {
  width: 100%;
  height: auto;
}

/* 圖 */

.service_img {
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(85, 86, 86, 0.5);
  background-blend-mode: multiply;
  width: 100%;
  height: 340px;
}
.service_img h5 {
  margin: 0;
}
.service_1 {
  background-image: url(../image/index_service_1.png);
}
.service_2 {
  background-image: url(../image/index_service_2.png);
}
.service_3 {
  background-image: url(../image/index_service_3.png);
}
.service_4 {
  background-image: url(../image/index_service_4.png);
}
.service_5 {
  background-image: url(../image/index_service_5.png);
}
.service_6 {
  background-image: url(../image/index_service_6.png);
}

.service_img:hover h5,
.service_img:hover h6,
.service_img:hover hr {
  display: none;
}

.service_img:hover {
  background-color: rgba(85, 86, 86, 0); /* 透明度 */
}

/* ----------客製化行銷---------- */
.marketing_block {
  background-image: url(../image/index_marketing_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.title_marketing {
  display: flex;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  text-align: -webkit-center;
  max-width: 1000px;
  padding: 50px;
  gap: 33px;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.title_marketing h2 {
  font-weight: 700;
}

.marketing_block ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 45px 100px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.marketing_block li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.marketing_block li p {
  width: auto;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  padding: 38px 38px 50px;
  color: #fff;
}

.marketing_block li h5 {
  background-image: url(../image/index_marketing_title_bg.png);
  width: 105px;
  height: 118px;
  text-align: center;
  line-height: 118px;
  font-weight: 700;
  color: #3a3a3a;
  margin-bottom: -30px;
}

/* ----------媒體數據---------- */
.media_block {
  background: #f4f4f4;
  padding: 50px;
  padding-top: 200px;
}

.media_top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1320px;
  margin: auto;
}
.media_top p {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 8.55px;
  /* padding-left:50px; */
}
.media_block ul {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin: 50px;
}
.media_block li {
  text-align: center;
}
.media_block h1 {
  color: #106393;
  font-size: 80px;
  font-weight: 700;
}
.media_block h5 {
  font-weight: 700;
}

/* 動畫 */
.media_animated {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  /* transition: opacity 0.8s ease-in-out,transform 3s ease; */
}

.media_animated img {
  position: absolute;
}

.media_animated div {
  position: relative;
  text-align: center;
  color: #fff;
}
/* .media_animating .media_animated {
  opacity: 1;
} */

.el_rwd img {
  width: 150px;
  height: auto;
}
.el_seo img {
  width: 180px;
  height: auto;
}
.el_global img,
.el_blog img,
.el_fb img,
.el_google img,
.el_gs img,
.el_ig img {
  width: 50px;
  height: auto;
}

.media_animating .el_rwd {
  transform: translate(270px, -140px);
  animation: bounce infinite 5s;
}
.media_animating .el_global {
  transform: translate(120px, -80px);
  animation: bounce infinite 5s;
}
.media_animating .el_fb {
  transform: translate(200px, -10px);
  animation: bounce infinite 4s;
}
.media_animating .el_ig {
  transform: translate(340px, -18px);
  animation: bounce infinite 5s;
}
.media_animating .el_blog {
  transform: translate(548px, -160px);
  animation: bounce infinite 5s;
}
.media_animating .el_gs {
  transform: translate(443px, -100px);
  animation: bounce infinite 4s;
}
.media_animating .el_google {
  transform: translate(428px, 54px);
  animation: bounce infinite 5s;
}
.media_animating .el_seo {
  transform: translate(575px, -2px);
  animation: bounce infinite 3s;
}

@keyframes bounce {
  0%,
  100% {
    margin: 0;
  }
  25% {
    margin: -10px 0 0 0;
  }
  50% {
    margin: 0;
  }
  75% {
    margin: -10px 0 0 0;
  }
}

/* RWD */
@media only screen and (max-width: 1660px) {
}

@media only screen and (max-width: 1366px) {
  /* media */
  .media_top p {
    font-size: 35px;
  }
  .media_block h1 {
    font-size: 65px;
  }
}

@media only screen and (max-width: 1266px) {
  /* -----------media------------ */

  /* 動畫 */
  /* .el_rwd img {
    width: 120px;
    height: auto;
  }
  .el_seo img {
    width: 140px;
    height: auto;
  } */
  /* .el_global img,
  .el_blog img,
  .el_fb img,
  .el_google img,
  .el_gs img,
  .el_ig img {
    width: 40px;
    height: auto;
  } */

  .media_animating .el_global {
    transform: translate(80px, -80px);
  }
  .media_animating .el_blog {
    transform: translate(428px, -160px);
  }
  .media_animating .el_rwd {
    transform: translate(200px, -140px);
  }
  .media_animating .el_fb {
    transform: translate(150px, -10px);
  }
  .media_animating .el_ig {
    transform: translate(260px, -18px);
  }
  .media_animating .el_gs {
    transform: translate(333px, -100px);
  }
  .media_animating .el_google {
    transform: translate(338px, 54px);
  }
  .media_animating .el_seo {
    transform: translate(445px, -2px);
  }
}

@media only screen and (max-width: 1180px) {
  .bg_ABOUT {
    width: 40%;
    height: auto;
  }
  /* -----------media------------ */
  .media_block h1 {
    font-size: 50px;
  }
  .media_top p {
    font-size: 35px;
  }
  /* 動畫 */
  .el_rwd img {
    width: 120px;
    height: auto;
  }
  .el_seo img {
    width: 140px;
    height: auto;
  }
  .el_global img,
  .el_blog img,
  .el_fb img,
  .el_google img,
  .el_gs img,
  .el_ig img {
    width: 40px;
    height: auto;
  }

  .media_animating .el_global {
    transform: translate(30px, -80px);
  }
  .media_animating .el_blog {
    transform: translate(378px, -160px);
  }
  .media_animating .el_rwd {
    transform: translate(150px, -140px);
  }
  .media_animating .el_fb {
    transform: translate(100px, -10px);
  }
  .media_animating .el_ig {
    transform: translate(210px, -18px);
  }
  .media_animating .el_gs {
    transform: translate(283px, -100px);
  }
  .media_animating .el_google {
    transform: translate(288px, 54px);
  }
  .media_animating .el_seo {
    transform: translate(395px, -2px);
  }
}

@media only screen and (max-width: 1070px) {
  /* -------------導覽列------------ */
  .nav-item.dropdown > .navbar-nav .nav-item {
    font-size: 0.7rem;
  }
  .navbar-mobile {
    gap: 60px;
  }
  /* -----------服務項目------------ */
  .service_icon ul {
    width: 950px;
  }

  /* -----------media------------ */
  .media_top p {
    font-size: 30px;
  }
  .media_block h5 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 992px) {
  .service_icon ul {
    width: 850px;
  }
  /* -----------media------------ */
  /* 動畫 */

  .media_block h1 {
    font-size: 45px;
  }
  .media_block h5 {
    font-size: 16px;
  }
  .media_top p {
    font-size: 25px;
  }
  .el_rwd img {
    width: 100px;
    height: auto;
  }
  .el_seo img {
    width: 120px;
    height: auto;
  }
  .el_global img,
  .el_blog img,
  .el_fb img,
  .el_google img,
  .el_gs img,
  .el_ig img {
    width: 40px;
    height: auto;
  }

  .media_animating .el_global {
    transform: translate(30px, -80px);
  }
  .media_animating .el_blog {
    transform: translate(378px, -160px);
  }
  .media_animating .el_rwd {
    transform: translate(130px, -140px);
  }
  .media_animating .el_fb {
    transform: translate(100px, -10px);
  }
  .media_animating .el_ig {
    transform: translate(180px, -18px);
  }
  .media_animating .el_gs {
    transform: translate(263px, -100px);
  }
  .media_animating .el_google {
    transform: translate(240px, 54px);
  }
  .media_animating .el_seo {
    transform: translate(350px, -2px);
  }
}

@media only screen and (max-width: 900px) {
  .nav-item {
    font-size: 15px;
    font-weight: bold;
  }
  /* -----------服務項目------------ */

  .service_icon ul {
    width: 800px;
    gap: 50px 50px;
  }
  .service_text h5 {
    text-align: center;
    width: 80vw;
  }
  /* -----------客製化行銷------------ */

  .marketing_block ul {
    gap: 45px 40px;
  }

  /* --------media----------- */
  .media_block ul {
    gap: 60px;
  }
  .media_animating .el_global {
    transform: translate(20px, -100px);
  }
  .media_animating .el_seo {
    transform: translate(280px, -2px);
  }
  .media_animating .el_blog {
    transform: translate(320px, -160px);
  }
  .media_animating .el_fb {
    transform: translate(60px, -10px);
  }
  .media_animating .el_ig {
    transform: translate(150px, -38px);
  }
  .media_animating .el_google {
    transform: translate(200px, 54px);
  }
  .media_animating .el_gs {
    transform: translate(240px, -100px);
  }
}

@media only screen and (max-width: 821px) {
  /* -----------服務項目------------ */
  .service_icon ul {
    width: 680px;
    gap: 50px 20px;
  }

  /* -----------方策特色6大圖片------------ */

  .feature_img ul {
    grid-template-columns: 1fr 1fr;
  }

  /* -----------客製化行銷------------ */
  .marketing_block li p {
    padding: 38px 18px 50px;
  }
  /* -----------media------------ */
  .media_block {
    padding: 40px;
    padding-top: 120px;
  }
  .el_rwd img {
    width: 80px;
    height: auto;
  }
  .el_seo img {
    width: 90px;
    height: auto;
  }
  .el_global img,
  .el_blog img,
  .el_fb img,
  .el_google img,
  .el_gs img,
  .el_ig img {
    width: 30px;
    height: auto;
  }
  .media_top p {
    font-size: 21px;
  }
  .media_block h1 {
    font-size: 40px;
  }
  .media_animating .el_global {
    transform: translate(20px, -70px);
  }
  .media_animating .el_fb {
    transform: translate(50px, -10px);
  }
  .media_animating .el_rwd {
    transform: translate(100px, -80px);
  }
  .media_animating .el_ig {
    transform: translate(130px, -10px);
  }
  .media_animating .el_gs {
    transform: translate(180px, -60px);
  }
  .media_animating .el_google {
    transform: translate(190px, 40px);
  }
  .media_animating .el_seo {
    transform: translate(260px, -25px);
  }
  .media_animating .el_blog {
    transform: translate(260px, -100px);
  }
}

@media only screen and (max-width: 710px) {
  /* -----------服務項目------------ */
  .service_icon li a {
    font-size: 14px;
  }
  .service_icon li h5 {
    font-size: 16px;
  }
  .service_icon ul {
    width: 580px;
    gap: 50px 10px;
  }

  /* -----------客製化行銷------------ */
  .marketing_block ul {
    gap: 45px 20px;
  }
  .marketing_block li p {
    padding: 38px 8px 50px;
  }
  /* -----------media------------ */
  .media_block {
    padding: 40px;
  }
  .media_top {
    align-items: center;
    justify-content: center;
  }
  .media_block ul {
    gap: 40px;
  }
  .media_top p {
    font-size: 21px;
    padding-bottom: 200px;
  }
  .media_block h5 {
    font-size: 14px;
  }
  .media_block h1 {
    font-size: 35px;
  }

  /* 動畫 */
  .media_animating .el_rwd {
    transform: translate(-300px, 10px);
  }
  .media_animating .el_global {
    transform: translate(-390px, 50px);
  }
  .media_animating .el_fb {
    transform: translate(-330px, 100px);
  }
  .media_animating .el_seo {
    transform: translate(-80px, 95px);
  }
  .media_animating .el_google {
    transform: translate(-170px, 40px);
  }
  .media_animating .el_gs {
    transform: translate(-50px, 0px);
  }
  .media_animating .el_blog {
    transform: translate(40px, 60px);
  }
  .media_animating .el_ig {
    transform: translate(-250px, 70px);
  }
}

/* 電腦版所有樣式 */
@media (min-width: 576px) {
}

@media only screen and (max-width: 604px) {
  /* -----------所有區塊的bottom -----------*/
  /* 輪播圖 */
  .carousel {
    margin-bottom: 50px;
  }
  /* 服務項目 */
  .service_icon ul {
    margin: 60px auto 50px;
  }
  /* 核心價值 */
  .core_value_block {
    margin-bottom: 50px;
  }
  /* 方策特色6大圖 */
  .feature_img ul {
    margin: 0 auto 50px;
  }
  /* -----------導覽列------------ */
  .bsnav-mobile .navbar {
    padding: 100px 0 15px;
    transition: 0.4s ease-in-out;
    transform: translate3d(300px, 0, 0);
  }
  .nav-item {
    font-size: 13px;
    font-weight: bold;
  }
  .navbar-mobile {
    gap: 20px;
  }

  /* -----------服務項目------------ */
  .service_icon ul {
    width: 490px;
    gap: 50px 10px;
  }
  .service_icon ul {
    grid-template-columns: 1fr 1fr;
  }
  /* -----------核心價值------------ */
  .core_value_content ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .core_value_content li {
    text-align: center;
    width: 42%;
  }
  /* -----------方策特色6大圖片------------ */
  .feature_img ul {
    grid-template-columns: 1fr 1fr;
  }
  .marketing_block ul {
    grid-template-columns: 1fr 1fr;
  }
  .marketing_block ul {
    gap: 25px 20px px;
    padding-top: 0;
  }

  /* -----------media------------ */
  .media_block h1 {
    font-size: 35px;
  }
  .media_block ul {
    gap: 20px;
  }

  @media only screen and (max-width: 575px) {
    /* -----------輪播圖------------ */
    .carousel-inner {
      width: 100%;
      margin: 0 auto;
    }
    .carousel_1 img {
      content: url("../image/index_banner_mobile__1.jpg"); /* 新的圖片路徑1 */
    }
    .carousel_2 img {
      content: url("../image/index_banner_mobile__2.jpg"); /* 新的圖片路徑1 */
    }
    /* -----------背景圖------------ */
    .bg_ABOUT {
      /* top: 90%; */
      width: 50%;
    }
  }
  @media only screen and (max-width: 536px) {
    /* -----------服務項目------------ */

    .service_icon ul {
      width: 400px;
      gap: 50px 10px;
    }
    /* -----------客製化行銷------------ */
    .title_marketing {
      padding-bottom: 10px;
    }
    /* -----------media------------ */
    .media_block h1 {
      font-size: 50px;
    }
    .media_block ul {
      gap: 30px 40px;
      margin: 20px;
      flex-wrap: wrap;
    }
    .marketing_block {
      background-image: url(../image/index_marketing_bg_mobile.png);
    }
  }
  @media only screen and (max-width: 460px) {
    .marketing_block ul {
      padding: 20px;
    }
    /* -----------media------------ */

    /* .media_block h1 {
      font-size: 40px;
    } */
    .media_top p {
      font-size: 20px;
      padding-bottom: 200px;
    }

    /* 動畫 */
    .media_animating .el_blog {
      transform: translate(10px, 50px);
    }
    .media_animating .el_global {
      transform: translate(-330px, 50px);
    }
    .media_animating .el_fb {
      transform: translate(-290px, 100px);
    }
    .media_animating .el_ig {
      transform: translate(-220px, 70px);
    }
    .media_animating .el_google {
      transform: translate(-150px, 20px);
    }
    .media_animating .el_seo {
      transform: translate(-90px, 85px);
    }
    .media_animating .el_gs {
      transform: translate(-70px, -10px);
    }
    .media_animating .el_rwd {
      transform: translate(-260px, -10px);
    }
  }
  @media only screen and (max-width: 430px) {
    /* -----------服務項目------------ */
    .service_icon ul {
      width: 350px;
      gap: 50px 10px;
    }
    .feature_img ul {
      grid-template-columns: 1fr;
    }
  }

  @media only screen and (max-width: 415px) {
    /* -----------核心價值------------ */
    .core_value_content ul {
      gap: 60px 20px;
  }
    .core_value_content li {
      text-align: center;
      width: 44%;
    }
    /* -----------media------------ */

    .media_top p {
      font-size: 17px;
    }
    /* .media_block h1 {
      font-size: 35px;
    } */
    .feature_img ul {
      gap: 20px;
    }
  }

  @media only screen and (max-width: 390px) {
    /* .media_block h1 {
      font-size: 32px;
    } */
  }
  @media only screen and (max-width: 375px) {
    .service_icon ul {
      width: 340px;
      gap: 20px 0px;
    }
    .media_animating .el_global {
      transform: translate(-320px, 50px);
    }
  }
  .media_block ul {
    margin: 0px;
  }
  .media_top p {
    font-size: 16px;
  }
}
