/* ---------------標題banner---------------- */
.top_banner {
  height: 230px;
  background: url(../image/kol_banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 86%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -5;
}

/* ---------------小標---------------- */

.kol_block {
  max-width: 1920px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

.kol_text {
  text-align: center;
  max-width: 1020px;
  margin: auto;
}

.kol_text :nth-child(1) {
  font-size: 18px;
  color: #106393;
  font-weight: bold;
}

/* ---------------圖片區塊---------------- */
.kol_img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  margin: auto;
  justify-items: center;

  margin-top: 50px;
}
.kol_img img {
  max-width: 500px;
  height: auto;
}

.kol_img_text {
  text-align: center;
  margin-top: 30px;
}

.kol_img_text span {
  font-size: 20px;
  margin: auto;
  padding: 10px 30px;
  background-color: #ffe073;
  color: #3c2415;
}
@media only screen and (max-width: 575px) {
  .top_banner {
    height: 180px;
  }


  .kol_img_text span {
    font-size: 14px;
    padding: 5px 13px;
  }
}
