/* ---------------標題banner---------------- */
/* ---------------標題banner---------------- */
.top_banner {
  height: 230px;
  background: url(../image/social_banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -5;
}

/* ---------------廣告介紹---------------- */
.advertise_top_ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 1020px;
  margin: 0 auto;
}

.advertise_top_li {
  background-color: #106393;
  color: #fff;
  padding: 20px;
  line-height: 35px;
  width: 240px;
}

.advertise_top_li p {
  text-align: center;
  border-bottom: 2px solid;
}

.advertise_top_conul {
  list-style-type: disc;
  list-style-position: inside;
}

.advertise_block {
  max-width: 1420px;
  margin-bottom: 100px;
}

/* ---------------FB欄位介紹---------------- */

.fb_advertise_block {
  max-width: 1420px;
  margin: 0 auto;
}

.first_img {
  display: grid;
  grid-template-columns: 0.6fr repeat(1, 1fr);
  gap: 10px;
  align-items: end;
}

.img_block li {
  width: 100%;
  text-align: center;
}

.img_block li span {
  background-color: #ffe073;
  color: #3c2415;
  padding: 3px 10px;
  font-size: 13px;
}

@media only screen and (max-width: 819px) {
  .advertise_top_li {
    font-size: 13px;
    width: 220px;
  }
}
@media only screen and (max-width: 575px) {
  .first_img {
    display: flex;
    flex-direction: column;
  }
  .advertise_top_ul {
    flex-direction: column;
  }
  .advertise_top_li {
    font-size: 16px;
    width: 240px;
    margin: 0 auto;
  }
}
