dl,
ol,
ul,
p {
  margin: 0;
  padding: 0;
}
hr {
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.8;
}
body {
  font-family: "Noto Sans TC", "Montserrat", sans-serif, Verdana;
  letter-spacing: 3px;
  color: black;
}
a {
  text-decoration: none;
  color: inherit; /* 可以維持文字原來的顏色，或設定為其他你想要的顏色 */
}
a:hover {
  color: inherit; /* 可以維持文字原來的顏色，或設定為其他你想要的顏色 */
}

/* 字體 */
.title_blue_black,
.title_black_white {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title_blue_black :nth-child(1) {
  font-weight: bold;
  color: #106393;
}
.title_blue_black :nth-child(2) {
  font-weight: bold;
}
.title_black_white :nth-child(2) {
  font-weight: bold;
  color: #ffffff;
}
.title_black_white :nth-child(1) {
  font-weight: bold;
}

.navbar-nav .nav-item.active > .nav-link,
.navbar-nav .nav-item:active:focus > .nav-link,
.navbar-nav .nav-item:active > .nav-link,
.navbar-nav .nav-item:focus > .nav-link,
.navbar-nav .nav-item:hover > .nav-link {
  color: #106393;
}
.nav-item.active .caret,
.nav-item:hover .caret {
  border-top-color: #106393;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-mobile {
  gap: 100px;
}

.dropdown .navbar-nav .nav-item {
  gap: 50px;
}
.nav-item {
  font-size: 18px;
  font-weight: bold;
}

/* 改nav插件預設字體顏色 */

/*------------ 標題banner -------------*/
.top_banner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(16, 99, 147, 0.7);
  backdrop-filter: blur(0.5px);
  z-index: -1;
}

/*------------ 共同title -------------*/
.service_text,
.core_value_text {
  text-align: center;
}
.service_text h2,
.core_value_text h2 {
  margin-bottom: 3rem;
}
.service_block,
.core_value_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----------核心價值---------- */

.core_value_block {
  background: linear-gradient(
    5deg,
    #106393 43.2%,
    rgba(16, 99, 147, 0.63) 82.22%
  );
  padding: 5rem 1rem;
  margin-bottom: 100px;
}

.core_value_text h2 {
  margin-bottom: 3rem;
  color: #ffffff;
}
.core_value_content ul {
  display: flex;
  gap: 50px;
  align-items: flex-start;
  color: #ffffff;
}

.core_value_content li {
  text-align: center;
  width: 30%;
}
.core_value_content li h5 {
  margin-bottom: 15px;
}

/*------------ footer -------------*/
.footer {
  background-color: #106393;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 50px;
}

.footer_logo {
  /* display: flex;
  flex-direction: column; */
}
.footer_logo p {
  font-size: 10px;
  letter-spacing: 0.5px;
}

.footer_infomation li {
  display: flex;
  align-items: center;
  gap: 7px;
}

.footer_infomation a {
  text-decoration: none;
  color: inherit;
  display: flex;
  gap: 10px;
  margin: 10px;
}

.footer_page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* 寫在手機板 */

/* .bsnav-mobile .navbar {
  width: 310px;
  padding: 90px 0 15px;
} */

/* RWD */
@media only screen and (max-width: 1660px) {
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1266px) {
}

@media only screen and (max-width: 1070px) {
  /* -------------導覽列------------ */
  .nav-item.dropdown > .navbar-nav .nav-item {
    font-size: 0.7rem;
  }
  .navbar-mobile {
    gap: 60px;
  }
}

@media only screen and (max-width: 990px) {
  .nav-item {
    font-size: 15px;
    font-weight: bold;
  }
  .navbar-mobile {
    gap: 70px;
  }
}

@media only screen and (max-width: 802px) {
  /* footer */
  .footer {
    padding: 20px;
    flex-direction: column;
  }
  .footer_infomation li {
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: center;
  }
}

@media only screen and (max-width: 769px) {
  .navbar-mobile {
    gap: 40px;
  }
}

@media only screen and (max-width: 604px) {
  /* -----------導覽列------------ */
  .bsnav-mobile .navbar {
    padding: 100px 0 15px;
    transition: 0.4s ease-in-out;
    transform: translate3d(300px, 0, 0);
  }
  .nav-item {
    font-size: 13px;
    font-weight: bold;
  }
  .navbar-mobile {
    gap: 20px;
  }
  /* 核心價值 */
  .core_value_block {
    margin-bottom: 50px;
  }
  .core_value_content ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .core_value_content li {
    text-align: center;
    width: 42%;
  }
}

/* nav手機改漢堡 */
@media only screen and (max-width: 575px) {
  .navbar-toggler .navbar-toggler-icon,
  .navbar-toggler .navbar-toggler-icon::after,
  .navbar-toggler .navbar-toggler-icon::before {
    background-color: #106393;
  }
  .bsnav-brand-top {
    padding-top: 10px;
  }
  .navbar {
    padding: 0.5rem 1rem;
  }
  .navbar-nav .nav-item .nav-link {
    font-size: 1.1rem;
    line-height: 1.2;
  }
  .dropdown-horizontal .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
    line-height: 1.2;
  }
  @media only screen and (max-width: 536px) {
    p {
      font-size: 13px;
    }
    h5 {
      font-size: 18px;
    }
  }
  @media only screen and (max-width: 415px) {
    /* -----------核心價值------------ */
    .core_value_content ul {
      gap: 60px 20px;
    }
    .core_value_content li {
      text-align: center;
      width: 44%;
    }
  }
}
