dl,
ol,
ul,
p {
  margin: 0;
  padding: 0;
}
hr {
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.8;
}
body {
  font-family: "Noto Sans TC", "Montserrat", sans-serif, Verdana;
  letter-spacing: 3px;
}
h1 {
  font-weight: bold;
}


a {
  text-decoration: none;
  color: inherit; /* 可以維持文字原來的顏色，或設定為其他你想要的顏色 */
}

/* 字體 */
.title_blue_black,
.title_black_white {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title_blue_black :nth-child(1) {
  color: #106393;
}

.title_black_white :nth-child(2) {
  color: #ffffff;
}

.navbar-nav .nav-item.active > .nav-link,
.navbar-nav .nav-item:active:focus > .nav-link,
.navbar-nav .nav-item:active > .nav-link,
.navbar-nav .nav-item:focus > .nav-link,
.navbar-nav .nav-item:hover > .nav-link {
  color: #106393;
}
.nav-item.active .caret,
.nav-item:hover .caret {
  border-top-color: #106393;
}
.navbar-toggler:focus {
  box-shadow: none;
}

/* 改nav插件預設字體顏色 */

/*------------ 共同title -------------*/
.service_text,
.core_value_text {
  text-align: center;
}
.service_text h2,
.core_value_text h2 {
  margin-bottom: 3rem;
}
.service_block,
.core_value_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*------------ footer -------------*/
footer {
  background-color: #106393;
  color: #fff;
}

.footer_logo {
  /* display: flex;
  flex-direction: column; */
}
.footer_logo p {
  font-size: 10px;
  letter-spacing: 0.5px;
}

.footer_infomation li {
  display: flex;
  align-items: center;
  gap: 7px;
}

.footer_infomation a {
  text-decoration: none;
  color: inherit;
  display: flex;
  gap: 10px;
  margin: 10px;
}

.footer_page{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* 寫在手機板 */

/* .bsnav-mobile .navbar {
  width: 310px;
  padding: 90px 0 15px;
} */

/* RWD */
@media only screen and (max-width: 1660px) {
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1266px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 880px) {
}

@media only screen and (max-width: 769px) {
}

@media only screen and (max-width: 680px) {
}

/* 電腦版所有樣式 */
@media (min-width: 576px) {
  .navbar-mobile {
    gap: 100px;
  }

  .dropdown .navbar-nav .nav-item {
    gap: 50px;
  }
  .nav-item {
    font-size: 18px;
    font-weight: bold;
  }
}

/* nav手機改漢堡 */
@media only screen and (max-width: 575px) {
  .bsnav-brand-top {
    padding-top: 10px;
  }
  .navbar {
    padding: 0.5rem 1rem;
  }
  .navbar-nav .nav-item .nav-link {
    font-size: 1.1rem;
    line-height: 1.2;
  }
  .dropdown-horizontal .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
    line-height: 1.2;
  }
}
