dl,
ol,
ul,
p {
  margin: 0;
  padding: 0;
}
hr {
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.8;
}
body {
  font-family: "Noto Sans TC", "Montserrat", sans-serif, Verdana;
  letter-spacing: 3px;
  color: black;
}
a {
  text-decoration: none;
  color: inherit; /* 可以維持文字原來的顏色，或設定為其他你想要的顏色 */
}
a:hover {
  color: inherit; /* 可以維持文字原來的顏色，或設定為其他你想要的顏色 */
}

section {
  margin: 50px auto;
  padding: 0 20px;
  max-width: 1620px;
}
section {
}

img {
  width: 100%;
  height: auto;
}
/* 字體 */
.title_blue_black,
.title_black_white {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title_sec_text {
  font-size: 30px;
  padding: 5px 0;
}

.text_white{
  color: #fff;
}

.title_blue_black {
  font-size: 40px;
}
.title_blue_black :nth-child(1) {
  font-weight: bold;
  color: #106393;
  font-size: 25px;
}
.title_blue_black :nth-child(2) {
  font-weight: bold;
  font-size: 25px;
}

.title_cn p {
  font-size: 32px;
}

.title_black_white {
  font-size: 40px;
}

.title_black_white :nth-child(2) {
  font-weight: bold;
  color: #ffffff;
}
.title_black_white :nth-child(1) {
  font-weight: bold;
}

.nav-item {
  font-size: 18px;
  font-weight: bold;
}

/* nav修改 */
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  flex-direction: column;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #106393;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #ffffff;
  background-color: #106393;
}
.dropdown-menu {
  border: 1px solid #0842986b;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #106393;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #106393;
}
.navbar-light .navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-nav {
  gap: 30px;
}

/*------------ 標題banner -------------*/

.top_banner {
  height: 230px;
}
.top_banner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(16, 99, 147, 0.7);
  backdrop-filter: blur(0.5px);
  z-index: -1;
}

/*------------ 共同title -------------*/
.service_text,
.core_value_text {
  text-align: center;
}
.service_text h2,
.core_value_text h2 {
  margin-bottom: 3rem;
}
.service_block,
.core_value_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* ---------------主題標題---------------- */
.top_block_text {
  max-width: 1420px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.top_block_text p {
  display: inline-flex;
  color: #106393;

  text-align: center;
  font-size: 18px;
  font-weight: 700;

  padding: 0px 15px;
  /* gap: 10px; */

  border-right: 5px solid #106393;
  border-left: 5px solid #106393;
}

/*--- 有背景藍色小標 ---*/
.all_title {
  width: 470px;
  /* height: 49px; */
  flex-shrink: 0;
  background: #106393;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  /* line-height: 49px; */
  text-align: right;
  padding: 5px;
  margin-left: -20px;
  margin-bottom: 50px;
}

/*--- 無背景小標 ---*/
.all_title_nobgc {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.all_title_nobgc :nth-child(1) {
  font-size: 40px;
  color: #106393;
  font-weight: bold;
}

.all_title_nobgc :nth-child(2) {
  font-size: 30px;
}

/* ----------核心價值---------- */

.core_value_block {
  background: linear-gradient(
    5deg,
    #106393 43.2%,
    rgba(16, 99, 147, 0.63) 82.22%
  );
  padding: 5rem 1rem;
}

.core_value_text h2 {
  margin-bottom: 3rem;
  color: #ffffff;
}
.core_value_content ul {
  display: flex;
  gap: 50px;
  align-items: flex-start;
  color: #ffffff;
}

.core_value_content li {
  text-align: center;
  width: 40%;
}
.core_value_content li h5 {
  margin-bottom: 15px;
}

/*------------ footer -------------*/
.footer {
  background-color: #106393;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 50px;
  /* margin-top: 100px; */
}

.footer_logo {
  width: 250px;
  height: auto;
}
.footer_logo p {
  font-size: 10px;
  letter-spacing: 0.5px;
  text-align: center;
}

.footer_infomation li {
  display: flex;
  align-items: center;
  gap: 7px;
}

.footer_infomation a {
  text-decoration: none;
  color: inherit;
  display: flex;
  gap: 10px;
  margin: 10px;
}

.footer_infomation img {
  width: 22px;
  height: auto;
}

.footer_page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* 寫在手機板 */

/* .bsnav-mobile .navbar {
  width: 310px;
  padding: 90px 0 15px;
} */

/* RWD */

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
  /*--- 藍色小標 ---*/

  .all_title {
    width: 380px;
  }
  .all_title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    flex-direction: row;
  }
  .navbar-nav {
    gap: 5px;
  }
}

@media only screen and (max-width: 802px) {
  /* footer */
  .footer {
    padding: 20px;
    flex-direction: column;
  }
  .footer_infomation li {
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: center;
  }
}

@media only screen and (max-width: 769px) {
}

@media only screen and (max-width: 604px) {
  .core_value_content ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* nav手機改漢堡 */
@media only screen and (max-width: 575px) {
  /*--- 藍色小標 ---*/

  .all_title p {
    font-size: 16px;
  }
  .all_title {
    width: 320px;
  }

  .all_title_nobgc :nth-child(1) {
    font-size: 27px;
    color: #106393;
  }

  .all_title_nobgc :nth-child(2) {
    font-size: 20px;
  }
  .top_block_text p {
    font-size: 16px;
  }
  .title_blue_black :nth-child(1) {
    font-size: 22px;
  }
  .title_blue_black :nth-child(2) {
    font-size: 22px;
  }
  
  .title_black_white :nth-child(1) {
    font-size: 22px;

  }
  .title_black_white :nth-child(2) {
    font-size: 22px;

  }
  .title_sec_text {
    font-size: 20px;
}
  /*------------ 麵包屑 -------------*/
  .breadcrumb {
    font-size: 12px;
  }
  .footer {
    background-color: #106393;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 30px;
    gap: 20px;
  }
}

@media only screen and (max-width: 536px) {
  p {
    font-size: 13px;
  }
  h5 {
    font-size: 18px;
  }
}
